# Assignment 4

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 39 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 45.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c6f6a6ff8ed0fb6bb39fd912158dd19f7ad05d9a0b96185c60a52f50dadb06c7
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

Creating a SparkContext

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType, IntegerType, DateType
from pyspark.sql.functions import col, asc,desc
import json
import csv
from io import StringIO
from pyspark.sql import HiveContext
sc = SparkContext()

Installing Hbase and JDK and setting up Java Home system variable

In [3]:
pip install happybase

Collecting happybase
  Downloading happybase-1.2.0.tar.gz (40 kB)
     |████████████████████████████████| 40 kB 3.1 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from happybase) (1.15.0)
Collecting thriftpy2>=0.4
  Downloading thriftpy2-0.4.14.tar.gz (361 kB)
     |████████████████████████████████| 361 kB 7.6 MB/s
Collecting ply<4.0,>=3.4
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.8 MB/s
Building wheels for collected packages: happybase, thriftpy2
  Building wheel for happybase (setup.py) ... done
  Created wheel for happybase: filename=happybase-1.2.0-py2.py3-none-any.whl size=26623 sha256=b532a992bb12a2c268cef65cd20faf77629873a13e028d9fef95f28894e9d810
  Stored in directory: /root/.cache/pip/wheels/66/63/48/437f79a3724a4a529830f87d766a7d34228d623e845de2c321
  Building wheel for thriftpy2 (setup.py) ... done
  Created wheel for thriftpy2: filename=thriftpy2-0.4.14-cp37-cp37m-linux_x86_64.whl size=944460 sha256=07d01940e10ab3ef3cce94c168412569f045dec8a3c97827b78eb800ca1dc7ec
  Stored in directory: /root/.cache/pip/wheels/2a/f5/49/9c0d851aa64b58db72883cf9393cc824d536bdf13f5c83cff4
Successfully built happybase thriftpy2
Installing collected packages: ply, thriftpy2, happybase
Successfully installed happybase-1.2.0 ply-3.11 thriftpy2-0.4.14

In [4]:
!apt-get update > /dev/null

In [5]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [6]:
!wget https://archive.apache.org/dist/hbase/2.4.9/hbase-2.4.9-bin.tar.gz

--2022-04-21 22:01:03--  https://archive.apache.org/dist/hbase/2.4.9/hbase-2.4.9-bin.tar.gz
Resolving archive.apache.org (archive.apache.org)... 138.201.131.134, 2a01:4f8:172:2ec5::2
Connecting to archive.apache.org (archive.apache.org)|138.201.131.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 283496242 (270M) [application/x-gzip]
Saving to: ‘hbase-2.4.9-bin.tar.gz’

hbase-2.4.9-bin.tar 100%[===================>] 270.36M  8.71MB/s    in 24s

2022-04-21 22:01:27 (11.5 MB/s) - ‘hbase-2.4.9-bin.tar.gz’ saved [283496242/283496242]

In [7]:
!tar xzf hbase-2.4.9-bin.tar.gz

In [8]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Running Thrift server and HMaster of Hbase

In [9]:
!/content/hbase-2.4.9/bin/stop-hbase.sh

no hbase master found

In [10]:
!/content/hbase-2.4.9/bin/hbase-daemon.sh start thrift

running thrift, logging to /content/hbase-2.4.9/bin/../logs/hbase--thrift-9de666796d1d.out

In [11]:
!/content/hbase-2.4.9/bin/start-hbase.sh

running master, logging to /content/hbase-2.4.9/bin/../logs/hbase--master-9de666796d1d.out

In [12]:
!jps

152 SparkSubmit
1705 Jps
1627 HMaster
1420 ThriftServer

In [13]:
import happybase as hb

In [14]:

def connection_and_create_in_hbase(flag):
  try:
    connection = hb.Connection()
    connection.open()
   
    if flag:
      connection.create_table('Fake_data',{'cf':dict(), 
                                          'cf':dict(), 
                                          'cf':dict(),
                                          'cf':dict(),
                                          'cf':dict(),
                                          'cf':dict(),
                                          'cf':dict(),
                                          'cf':dict()}) 
    return connection
  except Exception as e:
    print(e)
    connection.close()

In [17]:
def store_csv_into_hbase():
  try:
    connection = connection_and_create_in_hbase(True)
    
    table = connection.table('Fake_data')
    
    csvreader = csv.reader(open('/content/Fake_data.csv'))
   
    row_count = 0
   
    for row in csvreader:
       
        row_count += 1
        if row_count == 1:
            pass
        elif row_count == 10001:
            break
        else:
            table.put(row[0], { "cf:Birth_Country": str(row[1]), "cf:Email": row[2], "cf:First_Name": row[3],"cf:Income": row[4], "cf:Job": row[5], "cf:Last_name": row[6],"cf:Loan_Approved": row[7], "cf:SSN": row[8] })
                   
  

  except Exception as e:
    print(e)
  finally:
     
      connection.close()

In [21]:
store_csv_into_hbase()

Printing 10 rows in the table

In [22]:

connection = connection_and_create_in_hbase(False)
table = connection.table('Fake_data')

rows = table.rows([str(i) for i in range(10)])
for key, data in rows:
    print(key, data)

b'0' {b'cf:Birth_Country': b'Bosnia and Herzegovina', b'cf:Email': b'emily15@whitehead.com', b'cf:First_Name': b'Melissa', b'cf:Income': b'109957', b'cf:Job': b'Telecommunications researcher', b'cf:Last_name': b'Miranda', b'cf:Loan_Approved': b'False', b'cf:SSN': b'129-41-7773'}
b'1' {b'cf:Birth_Country': b'Belgium', b'cf:Email': b'ronald87@yahoo.com', b'cf:First_Name': b'Curtis', b'cf:Income': b'301884', b'cf:Job': b'Animal nutritionist', b'cf:Last_name': b'Garrett', b'cf:Loan_Approved': b'True', b'cf:SSN': b'212-74-3976'}
b'2' {b'cf:Birth_Country': b'United Kingdom', b'cf:Email': b'hannah29@gmail.com', b'cf:First_Name': b'Connor', b'cf:Income': b'341584', b'cf:Job': b'English as a foreign language teacher', b'cf:Last_name': b'Steele', b'cf:Loan_Approved': b'False', b'cf:SSN': b'024-35-3834'}
b'3' {b'cf:Birth_Country': b'Kiribati', b'cf:Email': b'derrick59@hotmail.com', b'cf:First_Name': b'Adam', b'cf:Income': b'448293', b'cf:Job': b'Surveyor, commercial/residential', b'cf:Last_name': b'Newman', b'cf:Loan_Approved': b'False', b'cf:SSN': b'157-82-4486'}
b'4' {b'cf:Birth_Country': b'Malaysia', b'cf:Email': b'wendycarpenter@walker-knox.com', b'cf:First_Name': b'Jared', b'cf:Income': b'53621', b'cf:Job': b'Drilling engineer', b'cf:Last_name': b'Mann', b'cf:Loan_Approved': b'True', b'cf:SSN': b'199-56-2824'}
b'5' {b'cf:Birth_Country': b'Austria', b'cf:Email': b'hcisneros@hotmail.com', b'cf:First_Name': b'Stephen', b'cf:Income': b'195746', b'cf:Job': b'Commercial/residential surveyor', b'cf:Last_name': b'Smith', b'cf:Loan_Approved': b'False', b'cf:SSN': b'856-86-2689'}
b'6' {b'cf:Birth_Country': b'Cyprus', b'cf:Email': b'cookdawn@harrington.com', b'cf:First_Name': b'Alexandria', b'cf:Income': b'121200', b'cf:Job': b'Designer, graphic', b'cf:Last_name': b'Berry', b'cf:Loan_Approved': b'True', b'cf:SSN': b'526-65-0200'}
b'7' {b'cf:Birth_Country': b'Cuba', b'cf:Email': b'robertrodriguez@gmail.com', b'cf:First_Name': b'Natasha', b'cf:Income': b'68126', b'cf:Job': b'Chief Strategy Officer', b'cf:Last_name': b'Kemp', b'cf:Loan_Approved': b'True', b'cf:SSN': b'246-26-3710'}
b'8' {b'cf:Birth_Country': b'Western Sahara', b'cf:Email': b'lfreeman@cervantes.biz', b'cf:First_Name': b'James', b'cf:Income': b'199588', b'cf:Job': b'Engineer, maintenance', b'cf:Last_name': b'Taylor', b'cf:Loan_Approved': b'True', b'cf:SSN': b'868-13-4858'}
b'9' {b'cf:Birth_Country': b'Sudan', b'cf:Email': b'bryan65@booker.info', b'cf:First_Name': b'Briana', b'cf:Income': b'77960', b'cf:Job': b'Psychotherapist, child', b'cf:Last_name': b'Swanson', b'cf:Loan_Approved': b'True', b'cf:SSN': b'102-09-9465'}

In [ ]:
!/content/hbase-2.4.9/bin/hbase shell

Streaming output truncated to the last 5000 lines.
                      21-13-3429
 9718                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.70
                      6, value=Eritrea
 9718                 column=cf2:Email, timestamp=2022-04-21T02:16:22.706, value
                      =joseph41@gmail.com
 9718                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.706,
                      value=Janet
 9718                 column=cf4:Income, timestamp=2022-04-21T02:16:22.706, valu
                      e=277267
 9718                 column=cf5:Job, timestamp=2022-04-21T02:16:22.706, value=M
                      erchant navy officer
 9718                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.706, v
                      alue=Higgins
 9718                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.70
                      6, value=False
 9718                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.706, value=6
                      42-62-7315
 9719                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.70
                      7, value=Jamaica
 9719                 column=cf2:Email, timestamp=2022-04-21T02:16:22.707, value
                      =monroekari@anderson-tucker.com
 9719                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.707,
                      value=Marc
 9719                 column=cf4:Income, timestamp=2022-04-21T02:16:22.707, valu
                      e=1303
 9719                 column=cf5:Job, timestamp=2022-04-21T02:16:22.707, value=E
                      ngineer, aeronautical
 9719                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.707, v
                      alue=George
 9719                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.70
                      7, value=True
 9719                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.707, value=6
                      61-58-0878
 972                  column=cf1:Birth_Country, timestamp=2022-04-21T02:16:09.33
                      1, value=Senegal
 972                  column=cf2:Email, timestamp=2022-04-21T02:16:09.331, value
                      =oburns@leonard.com
 972                  column=cf3:First_Name, timestamp=2022-04-21T02:16:09.331,
                      value=Jerome
 972                  column=cf4:Income, timestamp=2022-04-21T02:16:09.331, valu
                      e=368136
 972                  column=cf5:Job, timestamp=2022-04-21T02:16:09.331, value=V
                      isual merchandiser
 972                  column=cf6:Last_Name, timestamp=2022-04-21T02:16:09.331, v
                      alue=Tucker
 972                  column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:09.33
                      1, value=True
 972                  column=cf8:SSN, timestamp=2022-04-21T02:16:09.331, value=0
                      55-55-4051
 9720                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.70
                      8, value=Comoros
 9720                 column=cf2:Email, timestamp=2022-04-21T02:16:22.708, value
                      =priscillaparker@hotmail.com
 9720                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.708,
                      value=Melissa
 9720                 column=cf4:Income, timestamp=2022-04-21T02:16:22.708, valu
                      e=429620
 9720                 column=cf5:Job, timestamp=2022-04-21T02:16:22.708, value=L
                      andscape architect
 9720                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.708, v
                      alue=Jenkins
 9720                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.70
                      8, value=True
 9720                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.708, value=0
                      12-93-0480
 9721                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      0, value=American Samoa
 9721                 column=cf2:Email, timestamp=2022-04-21T02:16:22.710, value
                      =phillip31@parker.com
 9721                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.710,
                      value=Jeffery
 9721                 column=cf4:Income, timestamp=2022-04-21T02:16:22.710, valu
                      e=200806
 9721                 column=cf5:Job, timestamp=2022-04-21T02:16:22.710, value=O
                      ptician, dispensing
 9721                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.710, v
                      alue=Copeland
 9721                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      0, value=True
 9721                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.710, value=4
                      23-19-3035
 9722                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      1, value=Malawi
 9722                 column=cf2:Email, timestamp=2022-04-21T02:16:22.711, value
                      =nataliereed@potts.com
 9722                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.711,
                      value=Morgan
 9722                 column=cf4:Income, timestamp=2022-04-21T02:16:22.711, valu
                      e=212036
 9722                 column=cf5:Job, timestamp=2022-04-21T02:16:22.711, value=B
                      arrister's clerk
 9722                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.711, v
                      alue=Murphy
 9722                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      1, value=True
 9722                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.711, value=1
                      66-97-9799
 9723                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      2, value=Kenya
 9723                 column=cf2:Email, timestamp=2022-04-21T02:16:22.712, value
                      =toddjones@yahoo.com
 9723                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.712,
                      value=Jennifer
 9723                 column=cf4:Income, timestamp=2022-04-21T02:16:22.712, valu
                      e=411354
 9723                 column=cf5:Job, timestamp=2022-04-21T02:16:22.712, value=M
                      usician
 9723                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.712, v
                      alue=Robinson
 9723                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      2, value=False
 9723                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.712, value=7
                      45-37-4507
 9724                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      3, value=Turkmenistan
 9724                 column=cf2:Email, timestamp=2022-04-21T02:16:22.713, value
                      =heatherclay@gmail.com
 9724                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.713,
                      value=Amber
 9724                 column=cf4:Income, timestamp=2022-04-21T02:16:22.713, valu
                      e=431932
 9724                 column=cf5:Job, timestamp=2022-04-21T02:16:22.713, value=A
                      nimal technologist
 9724                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.713, v
                      alue=Ellis
 9724                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      3, value=True
 9724                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.713, value=2
                      45-54-8593
 9725                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      4, value=Mozambique
 9725                 column=cf2:Email, timestamp=2022-04-21T02:16:22.714, value
                      =schwartzjustin@gmail.com
 9725                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.714,
                      value=Andrew
 9725                 column=cf4:Income, timestamp=2022-04-21T02:16:22.714, valu
                      e=271934
 9725                 column=cf5:Job, timestamp=2022-04-21T02:16:22.714, value=B
                      uilding services engineer
 9725                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.714, v
                      alue=Gaines
 9725                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      4, value=True
 9725                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.714, value=1
                      98-79-5328
 9726                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      5, value=Moldova
 9726                 column=cf2:Email, timestamp=2022-04-21T02:16:22.715, value
                      =michellewilson@reeves-martin.com
 9726                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.715,
                      value=Jessica
 9726                 column=cf4:Income, timestamp=2022-04-21T02:16:22.715, valu
                      e=158179
 9726                 column=cf5:Job, timestamp=2022-04-21T02:16:22.715, value=B
                      iomedical engineer
 9726                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.715, v
                      alue=Johnson
 9726                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      5, value=True
 9726                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.715, value=4
                      03-24-0453
 9727                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      8, value=Romania
 9727                 column=cf2:Email, timestamp=2022-04-21T02:16:22.718, value
                      =travismckenzie@jones.info
 9727                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.718,
                      value=Randy
 9727                 column=cf4:Income, timestamp=2022-04-21T02:16:22.718, valu
                      e=471646
 9727                 column=cf5:Job, timestamp=2022-04-21T02:16:22.718, value=D
                      esigner, textile
 9727                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.718, v
                      alue=Thomas
 9727                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      8, value=False
 9727                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.718, value=3
                      08-45-7681
 9728                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.71
                      9, value=Armenia
 9728                 column=cf2:Email, timestamp=2022-04-21T02:16:22.719, value
                      =daisyphillips@mcdowell-martinez.com
 9728                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.719,
                      value=Richard
 9728                 column=cf4:Income, timestamp=2022-04-21T02:16:22.719, valu
                      e=116484
 9728                 column=cf5:Job, timestamp=2022-04-21T02:16:22.719, value=R
                      etail manager
 9728                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.719, v
                      alue=Turner
 9728                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.71
                      9, value=True
 9728                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.719, value=7
                      07-59-5633
 9729                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      0, value=Ukraine
 9729                 column=cf2:Email, timestamp=2022-04-21T02:16:22.720, value
                      =riveralucas@hotmail.com
 9729                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.720,
                      value=Paige
 9729                 column=cf4:Income, timestamp=2022-04-21T02:16:22.720, valu
                      e=142650
 9729                 column=cf5:Job, timestamp=2022-04-21T02:16:22.720, value=S
                      ound technician, broadcasting/film/video
 9729                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.720, v
                      alue=Davis
 9729                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      0, value=False
 9729                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.720, value=8
                      41-04-9329
 973                  column=cf1:Birth_Country, timestamp=2022-04-21T02:16:09.33
                      3, value=Zambia
 973                  column=cf2:Email, timestamp=2022-04-21T02:16:09.333, value
                      =tannerherrera@yahoo.com
 973                  column=cf3:First_Name, timestamp=2022-04-21T02:16:09.333,
                      value=Carlos
 973                  column=cf4:Income, timestamp=2022-04-21T02:16:09.333, valu
                      e=240271
 973                  column=cf5:Job, timestamp=2022-04-21T02:16:09.333, value=L
                      earning mentor
 973                  column=cf6:Last_Name, timestamp=2022-04-21T02:16:09.333, v
                      alue=Anderson
 973                  column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:09.33
                      3, value=False
 973                  column=cf8:SSN, timestamp=2022-04-21T02:16:09.333, value=6
                      10-65-3864
 9730                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      1, value=Dominica
 9730                 column=cf2:Email, timestamp=2022-04-21T02:16:22.721, value
                      =lindsaywilliams@hotmail.com
 9730                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.721,
                      value=Taylor
 9730                 column=cf4:Income, timestamp=2022-04-21T02:16:22.721, valu
                      e=285367
 9730                 column=cf5:Job, timestamp=2022-04-21T02:16:22.721, value=S
                      pecial educational needs teacher
 9730                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.721, v
                      alue=Robertson
 9730                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      1, value=False
 9730                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.721, value=1
                      72-35-3308
 9731                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      2, value=Bermuda
 9731                 column=cf2:Email, timestamp=2022-04-21T02:16:22.722, value
                      =hmontoya@rose.com
 9731                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.722,
                      value=Charles
 9731                 column=cf4:Income, timestamp=2022-04-21T02:16:22.722, valu
                      e=361225
 9731                 column=cf5:Job, timestamp=2022-04-21T02:16:22.722, value=L
                      ecturer, further education
 9731                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.722, v
                      alue=Sanchez
 9731                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      2, value=True
 9731                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.722, value=7
                      16-06-3520
 9732                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      3, value=Gambia
 9732                 column=cf2:Email, timestamp=2022-04-21T02:16:22.723, value
                      =vallen@gmail.com
 9732                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.723,
                      value=David
 9732                 column=cf4:Income, timestamp=2022-04-21T02:16:22.723, valu
                      e=229605
 9732                 column=cf5:Job, timestamp=2022-04-21T02:16:22.723, value=A
                      ccountant, chartered certified
 9732                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.723, v
                      alue=Walker
 9732                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      3, value=False
 9732                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.723, value=1
                      51-83-7852
 9733                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      4, value=Burundi
 9733                 column=cf2:Email, timestamp=2022-04-21T02:16:22.724, value
                      =owilson@wright.com
 9733                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.724,
                      value=James
 9733                 column=cf4:Income, timestamp=2022-04-21T02:16:22.724, valu
                      e=261139
 9733                 column=cf5:Job, timestamp=2022-04-21T02:16:22.724, value=P
                      ublic affairs consultant
 9733                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.724, v
                      alue=Clements
 9733                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      4, value=True
 9733                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.724, value=6
                      16-67-8743
 9734                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      5, value=Guadeloupe
 9734                 column=cf2:Email, timestamp=2022-04-21T02:16:22.725, value
                      =micheal88@klein-byrd.info
 9734                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.725,
                      value=Ebony
 9734                 column=cf4:Income, timestamp=2022-04-21T02:16:22.725, valu
                      e=361470
 9734                 column=cf5:Job, timestamp=2022-04-21T02:16:22.725, value=A
                      dult nurse
 9734                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.725, v
                      alue=Miller
 9734                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      5, value=True
 9734                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.725, value=8
                      27-02-8504
 9735                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      6, value=Saint Pierre and Miquelon
 9735                 column=cf2:Email, timestamp=2022-04-21T02:16:22.726, value
                      =gonzalesandrea@yahoo.com
 9735                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.726,
                      value=Heather
 9735                 column=cf4:Income, timestamp=2022-04-21T02:16:22.726, valu
                      e=78013
 9735                 column=cf5:Job, timestamp=2022-04-21T02:16:22.726, value=O
                      ccupational psychologist
 9735                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.726, v
                      alue=Lee
 9735                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      6, value=False
 9735                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.726, value=6
                      13-78-7029
 9736                 column=cf1:Birth_Country, timestamp=2022-04-21T02:16:22.72
                      7, value=South Georgia and the South Sandwich Islands
 9736                 column=cf2:Email, timestamp=2022-04-21T02:16:22.727, value
                      =marymeadows@lyons.biz
 9736                 column=cf3:First_Name, timestamp=2022-04-21T02:16:22.727,
                      value=Shari
 9736                 column=cf4:Income, timestamp=2022-04-21T02:16:22.727, valu
                      e=338535
 9736                 column=cf5:Job, timestamp=2022-04-21T02:16:22.727, value=C
                      onservation officer, nature
 9736                 column=cf6:Last_Name, timestamp=2022-04-21T02:16:22.727, v
                      alue=Hall
 9736                 column=cf7:Loan_Approved, timestamp=2022-04-21T02:16:22.72
                      7, value=False
 9736                 column=cf8:SSN, timestamp=2022-04-21T02:16:22.727, value=0

Creating a SparkSession and DataFrame of CSv file

In [23]:

spark = SparkSession(sc)
df=spark.read.format("csv").option("header","true").load("/content/Fake_data.csv")

In [24]:
df.show()

+---+--------------------+--------------------+----------+------+--------------------+---------+-------------+-----------+
|_c0|       Birth_Country|               Email|First_Name|Income|                 Job|Last_name|Loan_Approved|        SSN|
+---+--------------------+--------------------+----------+------+--------------------+---------+-------------+-----------+
|  0|Bosnia and Herzeg...|emily15@whitehead...|   Melissa|109957|Telecommunication...|  Miranda|        False|129-41-7773|
|  1|             Belgium|  ronald87@yahoo.com|    Curtis|301884| Animal nutritionist|  Garrett|         True|212-74-3976|
|  2|      United Kingdom|  hannah29@gmail.com|    Connor|341584|English as a fore...|   Steele|        False|024-35-3834|
|  3|            Kiribati|derrick59@hotmail...|      Adam|448293|Surveyor, commerc...|   Newman|        False|157-82-4486|
|  4|            Malaysia|wendycarpenter@wa...|     Jared| 53621|   Drilling engineer|     Mann|         True|199-56-2824|
|  5|             Austria|hcisneros@hotmail...|   Stephen|195746|Commercial/reside...|    Smith|        False|856-86-2689|
|  6|              Cyprus|cookdawn@harringt...|Alexandria|121200|   Designer, graphic|    Berry|         True|526-65-0200|
|  7|                Cuba|robertrodriguez@g...|   Natasha| 68126|Chief Strategy Of...|     Kemp|         True|246-26-3710|
|  8|      Western Sahara|lfreeman@cervante...|     James|199588|Engineer, mainten...|   Taylor|         True|868-13-4858|
|  9|               Sudan| bryan65@booker.info|    Briana| 77960|Psychotherapist, ...|  Swanson|         True|102-09-9465|
| 10|             Armenia|jennifer24@lynch-...| Alexandra| 75778|      Water engineer|    Simon|        False|217-96-3391|
| 11|        Turkmenistan| pwilliams@gmail.com|    Angela|411687|Occupational psyc...|   Abbott|        False|638-49-9216|
| 12|          Costa Rica|  xflores@carter.biz|    Robert|141750|Control and instr...|    House|         True|639-07-5705|
| 13|             Albania|amberphillips@hot...|     Holly|344920|Maintenance engineer|   Hodges|        False|144-88-5955|
| 14|           Nicaragua| swerner@randall.com|     David| 95188|Research officer,...|      Fox|         True|783-99-1364|
| 15|United States Vir...| uanderson@leach.net|    Calvin|333718|     Arboriculturist|  Hopkins|        False|771-16-4394|
| 16|Falkland Islands ...|    imccoy@gmail.com|     James|404292|    Doctor, hospital|    Payne|         True|026-73-1259|
| 17|               Aruba|josephdavis@duart...|   Zachary|366990|Rural practice su...|  Stanley|        False|488-61-6413|
| 18|               Kenya|    kboyle@yahoo.com|    Martha|364873|Designer, ceramic...|   Taylor|         True|702-67-7925|
| 19|      Norfolk Island|    xjones@yahoo.com|     Dylan|479768|Engineer, mainten...|      Lee|        False|548-15-3563|
+---+--------------------+--------------------+----------+------+--------------------+---------+-------------+-----------+
only showing top 20 rows

Saving the DataFrame as a HiveMetastore Table

In [25]:
# import pyspark.sql.DataFrameWriter.saveAsTable
df.write.mode("overwrite").saveAsTable("fake_data_tbl")

## 1. Find birth country which has highest amount of people

In [26]:
spark.sql("select count(Birth_Country) as Count, Birth_Country from fake_data_tbl group by Birth_Country order by 1 DESC ").show(1)

+-----+-------------+
|Count|Birth_Country|
+-----+-------------+
|   91|        Korea|
+-----+-------------+
only showing top 1 row

##  2. Find average income of people who are born in united states of america

In [27]:
spark.sql("""select AVG(t.Income), t.Birth_Country from fake_data_tbl t 
group by t.Birth_country
having LOWER(t.Birth_Country) == LOWER('united states of america')""").show()

+------------------+--------------------+
|       avg(Income)|       Birth_Country|
+------------------+--------------------+
|208759.82352941178|United States of ...|
+------------------+--------------------+

 ## 3. How many people has income over 100,000 but their loan is not approved

In [28]:
spark.sql(" select count(*) Nos_of_People from fake_data_tbl as t where t.income > 100000 and Loan_Approved == False").show()

+-------------+
|Nos_of_People|
+-------------+
|         4009|
+-------------+

## 4. Find top 10 people with highest income in United States of america. (Print their names, income and jobs)

In [29]:
spark.sql("Select t.First_Name || ' ' || t.Last_name Name, t.Income, t.Job from fake_data_tbl as t where LOWER(t.Birth_Country) == LOWER('united states of america') order by INT(Income) DESC  ").show(10)
# spark.sql("SELECT tb.First_Name,tb.Last_name, tb.Job, tb.Income  FROM Fake_data_tbl tb where tb.Birth_Country = 'United States of America' order by tb.Income DESC Limit 10 ").show()

+----------------+------+--------------------+
|            Name|Income|                 Job|
+----------------+------+--------------------+
|   Alyssa Miller|482588|Amenity horticult...|
|    Hunter Walls|468946|Psychologist, pri...|
|  Rose Henderson|426115|Adult guidance wo...|
|Danielle Leonard|389810|Furniture conserv...|
|     Terry Klein|380410|       Meteorologist|
|    Cindy Newton|370322|Research scientis...|
|  Scott Mitchell|368913|       Art therapist|
|Christy Sandoval|355150|      Engineer, land|
|  Kelly Reynolds|341448|           Press sub|
|  Kristina Smith|338804|           Herbalist|
+----------------+------+--------------------+
only showing top 10 rows

In [30]:
spark.sql("SELECT tb.First_Name,tb.Last_name, tb.Job, tb.Income  FROM Fake_data_tbl tb where tb.Birth_Country = 'United States of America' order by INT(tb.Income) DESC Limit 10 ").show()

+----------+---------+--------------------+------+
|First_Name|Last_name|                 Job|Income|
+----------+---------+--------------------+------+
|    Alyssa|   Miller|Amenity horticult...|482588|
|    Hunter|    Walls|Psychologist, pri...|468946|
|      Rose|Henderson|Adult guidance wo...|426115|
|  Danielle|  Leonard|Furniture conserv...|389810|
|     Terry|    Klein|       Meteorologist|380410|
|     Cindy|   Newton|Research scientis...|370322|
|     Scott| Mitchell|       Art therapist|368913|
|   Christy| Sandoval|      Engineer, land|355150|
|     Kelly| Reynolds|           Press sub|341448|
|  Kristina|    Smith|           Herbalist|338804|
+----------+---------+--------------------+------+

In [31]:
spark.sql("SELECT count(*) FROM fake_data_tbl tb ").show()

+--------+
|count(1)|
+--------+
|   10000|
+--------+

## 5. How many number of distinct jobs are there?

In [32]:
spark.sql("SELECT count(DISTINCT(tb.Job)) FROM fake_data_tbl tb").show()

+-------------------+
|count(DISTINCT Job)|
+-------------------+
|                639|
+-------------------+

## 6. How many writers earn less than 100,000?

In [33]:
spark.sql("SELECT count(*) FROM fake_data_tbl tb where tb.Income <100000 and tb.Job = 'Writer' ").show()

+--------+
|count(1)|
+--------+
|       5|
+--------+

References:
https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.saveAsTable.html#pyspark.sql.DataFrameWriter.saveAsTable



https://spark.apache.org/docs/2.2.0/sql-programming-guide.html#:~:text=Spark%20SQL%20is%20a%20Spark,information%20to%20perform%20extra%20optimizations


https://happybase.readthedocs.io/en/latest/user.html


https://happybase.readthedocs.io/en/latest/api.html

https://sparkbyexamples.com/apache-hbase-tutorial/

https://www.youtube.com/watch?v=CsYaTIUvez0

https://www.rittmanmead.com/blog/2015/05/loading-updating-and-deleting-from-hbase-tables-using-hiveql-and-python/

Trying to create an external Table in Hive which is associated with HBase table. But gives an error.

In [35]:


spark.sql("""
CREATE EXTERNAL TABLE hbase_hive_fake_data_tbl
 (key string,
  Birth_Country string,
  Email string,
  First_Name string,
  Income INT,
  Job string,
  Last_name   string,
  Loan_Approved string,
  SSN string
) 
STORED BY 'org.apache.hadoop.hive.hbase.HBaseStorageHandler'
WITH SERDEPROPERTIES('hbase.columns.mapping' = ':_c0,cf1:Birth_Country,cf2:Email,cf3:First_Name,cf4:Income,cf5:Job,cf6:Last_name,cf7:Loan_Approved,cf8:SSN') TBLPROPERTIES ('hbase.table.name' = 'Fake_data');""")

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 206))

ParseException: ignored

In [38]:
!/content/hbase-2.4.9/bin/hbase shell

2022-04-21 22:07:33,781 WARN  [main] util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
HBase Shell
Use "help" to get list of supported commands.
Use "exit" to quit this interactive shell.
For Reference, please visit: http://hbase.apache.org/2.0/book.html#shell
Version 2.4.9, rc49f7f63fca144765bf7c2da41791769286dfccc, Fri Dec 17 19:02:09 PST 2021
Took 0.0065 seconds
hbase:001:0> list
TABLE
Fake_data
1 row(s)
Took 0.6189 seconds
=> ["Fake_data"]
hbase:002:0> ^C

In [36]:
spark.sql("SHOW TABLES").show()

+---------+-------------+-----------+
|namespace|    tableName|isTemporary|
+---------+-------------+-----------+
|  default|fake_data_tbl|      false|
+---------+-------------+-----------+